* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

.abouth {
    background-color: yellow;
    height: 743px;
    display: flex;
}

.about {
    background-color: rgb(228, 249, 255);
    height: 743px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about span {
    padding-left: 100px;
}

.about span:nth-child(1) {
    font-size: 75px;
    line-height: 1em;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.about span:nth-child(2) {
    font-size: 75px;
    line-height: 1em;
    width: 440px;
    color: rgb(5, 36, 79);
}

.about p {
    padding-left: 100px;
    line-height: 2em;
    width: 343px;
    color: rgb(103 117 136);
    padding-top: 30px;
}

.aboutimg {
    width: 50%;
    height: 743px;
}

.aboutimg img {
    width: 100%;
    height: 100%;
    height: 743px;
    object-fit: cover;
}

.Safetyf {
    background-color: rgb(12, 185, 228);
    display: flex;
    margin-top: 80px;
}

.Safetyff {
    background-color: rgb(255, 210, 196);
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}

.Safetyff span {
    margin-bottom: 30px;
}

.Safetyff span:nth-child(1) img {
    width: 450px;
}

.Safetyff span:nth-child(2) {
    width: 450px;
    font-size: 42px;
    font-weight: bolder;
}

.Safetyff span:nth-child(3) {
    width: 416px;
    color: rgb(103 117 136);
    font-size: 17px;
    line-height: 2;
}

.Safetyff span:nth-child(4) {
    width: 414px;
    color: rgb(103 117 136);
    font-size: 17px;
    line-height: 2;
}

.missionr {
    background-color: rgb(255, 232, 225);
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}

.missionr span {
    margin-bottom: 30px;
}

.missionr span:nth-child(1) img {
    width: 450px;
    align-self: center;
}

.missionr span:nth-child(2) {
    width: 450px;
    font-size: 42px;

    font-weight: bolder;
}

.missionr span:nth-child(3) {
    width: 416px;
    color: rgb(103 117 136);
    font-size: 17px;
    line-height: 2;

}

.missionr span:nth-child(4) {
    width: 414px;
    color: rgb(103 117 136);
    font-size: 17px;
    line-height: 2;

}

.visionv {
    background-color: rgb(228, 249, 255);
    padding: 80px 130px;
    margin-top: 80px;
}

.vision {
    font-size: 42px;
    margin-bottom: 60px;
    font-weight: bolder;
}

.vvalues {
    font-size: 75px;
    font-weight: bolder;
    padding: 0;
    list-style-position: inside;
}

.vvalues li::marker {
    color: rgb(194, 19, 19);
}

.FacultyStaff {
    background-color: rgb(255, 210, 196);
    margin-top: 80px;
}

.fs {
    line-height: 2;
    margin-left: 98px;
    padding-top: 100px;
}

.fs span {
    font-size: 42px;
    font-weight: bolder;
}

.fs p {
    font-size: 17px;
}

.fscart {
    display: flex;
    width: 1150px;
    flex-wrap: wrap;
    margin: 80px auto;
    padding-bottom: 80px;

}

.fsimg {
    position: relative;
}

.fsimg img {
    width: 382px;
}

.fsinfo {
    display: flex;
    width: 307px;
    height: 180px;
    color: white;
    background-color: rgb(5 36 79);
    position: absolute;
    bottom: 50px;
    left: 27px;
    flex-direction: column;
}

.fsinfo span {
    position: relative;
    left: 20px;
    top: 25px;
}

.fsinfo span:nth-child(1) {
    font-size: 28px;
    font-weight: bolder;
}

.fsinfo span:nth-child(2) {
    font-size: 21px;
}

.fsinfo span:nth-child(3) {
    font-size: 17px;
    font-weight: bolder;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
    top: 80px;
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}