* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

.admissionsh {
    background-color: yellow;
    display: flex;
}

.admissions {
    background-color: rgb(228, 249, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admissions span,
.admissions p {
    margin: 0 0 20px 0;
}

.admissions span {
    font-size: 75px;
    color: rgb(5, 36, 79);
    font-weight: bold;
    padding-right: 55px;
}

.admissions p {
    line-height: 2em;
    font-size: 17px;
    width: 421px;
    color: rgb(103 117 136);
}

.admissionsimg {
    width: 50%;
}

.admissionsimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Safetyf {
    background-color: rgb(12, 185, 228);
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;

}

.Safetyff {
    background-color: rgb(255, 232, 225);
    width: 50%;
    display: flex;
    height: 850px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.safetyffchild span {
   
    font-size: 42px;
    line-height: 1em;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.safetyffchild p {
    line-height: 2em;
    font-size: 17px;
    width: 421px;
    color: rgb(103 117 136);
   
}

.Tuition {
    background-color: rgb(255, 210, 196);
    width: 50%;
    display: flex;
    height: 850px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tuitionchild span {
    font-size: 42px;
    line-height: 1em;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.tuitionchild p {
    line-height: 2em;
    font-size: 17px;
    width: 421px;
    color: rgb(103 117 136);
    
}

.faq {
    background-color: yellow;
    display: flex;
}

.faqq {
    background-color: rgb(228, 249, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faqq span,  p {
    margin: 0 0 20px 0;
}
.faqq span {
    font-size: 75px;
    color: rgb(5, 36, 79);
    font-weight: bold;
    padding-right: 55px;
}

.faqq p {
    line-height: 2em;
    font-size: 17px;
    width: 421px;
    color: rgb(103 117 136);

}

.faqqimg {
    width: 50%;
}

.faqqimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}