* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto; 
}

.abouth {
    background-color: yellow;
    display: flex;
    margin-bottom: 80px;
}

.about {
    background-color: rgb(228, 249, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about span {
    font-size: 75px;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.about p {
    line-height: 2em;
    font-size: 17px;
    width: 421px;
    color: rgb(103 117 136);
}

.about p:nth-child(2) {
    margin-bottom: 20px;
}

.aboutimg  {
    width: 50%;
}

.aboutimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Learningkid {
    background-color: rgb(12, 185, 228);
    height: 500px;
    display: flex;
    margin-bottom: 7px;
}

.Learningkids {
    background-color: rgb(166, 24, 13);
    width: 400px;
}

.Learningkids span {
    width: 0px;
    font-size: 42px;
    color: white;
    font-weight: bold;
}

.Learningkidimg img{
    height: 500px;
}

.Learningkid1 {
    justify-content: center;
    background-color: rgb(255, 232, 225);
    width: 596px;
    display: flex;
    align-items: center;
}

.Learningkid1 p {
    width: 310px;
    font-size: 17px;
    line-height: 2;
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}

