* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

.abouth {
    background-color: yellow;
    display: flex;
    margin-bottom: 80px;
}

.about {
    background-color: rgb(228, 249, 255);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about span {
    font-size: 75px;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.about p {
    line-height: 1.9;
    font-size: 17px;
    width: 341px;
    color: rgb(103 117 136);
    margin-top: 20px;
}


.aboutimg {
    width: 50%;
}

.aboutimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.LatestNews {
    background-color: rgb(255, 232, 225);
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.LatestNewsHeading {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
    margin-bottom: 50px;
}

.LatestNewsHeading h1 {
    font-size: 42px;

}

.LatestNewsHeading a {
    font-size: 17px;
    color: black;
    font-weight: bold;
}

.LatestNewsCart {
    display: flex;

}

.news-item {
    margin: 5px;
    background-color: rgb(255 255 255);
    height: 370px;
    width: 312px;
}

.news-item img {
    width: 312px;
    height: 233.25px;

}

.news-item h2 {
    font-size: 24px;
    width: 284px;
    margin-left: 15px;
    margin-top: 40px;
}

.faq {
    background-color: rgb(228, 249, 255);
    height: 1000px;
    display: flex;
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}