* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}

.parents {
    background-color: rgb(228, 249, 255);
    padding-bottom: 80px;

}

.parentfirst {
    display: flex;
    margin-bottom: 60px;
} 

.parentfirsttext {
    /* background-color: rgb(228, 249, 255); */
    height: 743px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parentfirsttext span {
    position: relative;
    left: 100px;
    width: 253px;
    font-size: 75px;
    line-height: 1em;
    color: rgb(5, 36, 79);
    /* font-weight: bold; */
}

.parentfirsttext p {
    line-height: 1.8em;
    font-size: 17px;
    width: 347px;
    color: rgb(103 117 136);
    top: 30px;
    position: relative;
    left: 100px;
}

.parentimg {
    width: 50%;
}

.parentimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parentsecond {
    height: 340px;
    background-color: rgb(166, 24, 13);
    width: 87%;
    margin: 0 auto;
    display: flex;
}

.parentsecond span:nth-child(1) {
    font-size: 42px;
    font-weight: bold;
    color: white;
    width: 70px;
    position: relative;
    top: 80px;
    left: 110px;
}

.parentsecond span:nth-child(2) {
    font-size: 17px;
    position: relative;
    top: 80px;
    width: 610px;
    line-height: 2;
    color: #f0e8e8;
    left: 230px;
}

.parentsecond span:nth-child(3) a {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    top: 250px;
    color: #f0e8e8;
    right: 378px;
    cursor: pointer;
}

.schoolf {
    display: flex;
}

.schoolff {
    background-color: rgb(255 232 225);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.schoolff span:nth-child(1) img {
    width: 490px;
    height: 327px;
}

.schoolff span:nth-child(2) {
    width: 450px;
    font-size: 42px;
    position: relative;
    top: 35px;
    font-weight: bolder;
    right: 20px;
}

.schoolff span:nth-child(3) {
    width: 422px;
    color: rgb(103 117 136);
    font-size: 17px;
    position: relative;
    line-height: 1.5;
    top: 70px;
    right: 30px;
}


.uniform {
    background-color: rgb(255 210 196);
    width: 50%;
    display: flex;
    height: 830px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uniform span:nth-child(1) img {
    width: 490px;
    height: 327px;
}

.uniform span:nth-child(2) {
    width: 450px;
    font-size: 42px;
    position: relative;
    top: 35px;
    right: 20px;
    font-weight: bolder;
}

.uniform span:nth-child(3) {
    width: 422px;
    color: rgb(103 117 136);
    font-size: 17px;
    position: relative;
    line-height: 1.5;
    top: 70px;
    right: 30px;
}

.uniform a {
    position: relative;
    top: 90px;
    font-size: 17px;
    right: 194px;
    font-weight: bold;
    color: black;
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}