/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 90%;
    margin: auto;
}
 
.StanfordElementary {
    display: flex;
    background: rgb(166 24 13);
    width: 100%;
}

.Stanford {
    background-color: rgb(166 24 13);
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Stanford span {
   margin-left: 90px;
}

.Stanford span:nth-child(1) {
    font-size: 77px;
    line-height: 1em;
    color: rgb(201 236 245);
    font-weight: bold;
}

.Stanford span:nth-child(2) {
    font-size: 77px;
    line-height: 1em;
    width: 440px;
    color: rgb(201 236 245);
    margin-bottom: 30px;
}

.Stanford span:nth-child(3) a {
    font-size: 17px;
    line-height: 1em;
    color: rgb(201 236 245);
    font-weight: bold;
}

.Stanfordimg {
    width: 55%;
}

.Stanfordimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Safetyf {
    background-color: rgb(12, 185, 228);
    display: flex;
    height: 800px;
}

.Safetyimg {
    background-color: rgb(201 236 245);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Safetyimg img {
    width: 450px;
}

.Safety {
    background-color: rgb(228, 249, 255);
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.Safety span {
    position: relative;
    left: 90px;
    margin: 18px;
}

.Safety span:nth-child(1) {
    font-size: 42px;
    font-weight: bold;
}

.Safety span:nth-child(2) {
    font-size: 20px;
    width: 320px;
    color: rgb(5, 36, 79);
}

.Safety span:nth-child(3) a {
    font-size: 17px;
    color: rgb(5, 36, 79);
    font-weight: bold;
}

.whystandford {
    font-size: 42px;
    font-weight: bold;
    display: flex;
    padding: 10px;
    height: 200px;
    align-items: center;
}

.OurApproach-container {
    display: flex;
    flex-wrap: wrap;
}

.Approach {
    background-color: rgb(12, 185, 228);
    height: 542px;
    width: 879px;
    display: flex;
}

.Approach img {
    height: 542px;
}

.App {
    flex-direction: column;
    display: flex;
}

.App span {
    margin: 10px;
}


.App span:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.App span:nth-child(2) {
    font-size: 17px;
    width: 231px;
    color: rgb(255, 255, 255);
}

.App span:nth-child(3) a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.Admissionm {
    background-color: rgb(212, 60, 43);
    height: 542px;
    display: flex;
    width: 489px;
    flex-direction: column;
}

.Admissionm span {
    position: relative;
    left: 20px;
    top: 44px;
    margin: 12px;
}

.Admissionm span:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.Admissionm span:nth-child(2) {
    font-size: 17px;
    width: 216px;
    color: rgb(255, 255, 255);

}

.Admissionm span:nth-child(3) a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.Enhancediv {
    background-color: rgb(12, 185, 228);
    height: 542px;
    display: flex;
    width: 441px;
    flex-direction: column;
}

.div2 img {
    /* background-image: url(/IMG/img3.webp); */
    width: 445px;
    height: 542px;
    object-fit: cover;
    object-position: 50% 50%;
}

.Enh span {
    position: relative;
    bottom: 487px;
    display: flex;
    left: 30px;
    margin: 10px;
}

.Enh span:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Enh span:nth-child(2) {
    font-size: 17px;
    width: 231px;
    color: rgb(255, 255, 255);
}

.Enh span:nth-child(3) a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.LatestE {
    background-color: rgb(166, 24, 13);
    height: 542px;
    display: flex;
    width: 440px;
    flex-direction: column;
}

.LatestE span {
    position: relative;
    left: 20px;
    top: 44px;
    margin: 12px;
}

.LatestE span:nth-child(1) {
    font-size: 35px;
    width: 230px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.LatestE span:nth-child(2) {
    font-size: 17px;
    width: 216px;
    color: rgb(255, 255, 255);

}

.LatestE span:nth-child(3) a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.div3 {
    background-color: rgb(166, 24, 13);
    height: 542px;
    width: 487px;
}

.div3 img {
    width: 487px;
    height: 542px;
}

.ParentsF {
    background-color: rgb(125, 34, 26);
    height: 542px;
    display: flex;
    width: 441px;
    flex-direction: column;
}

.ParentsF span {
    position: relative;
    left: 20px;
    top: 44px;
    margin: 12px;
}

.ParentsF span:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.ParentsF span:nth-child(2) {
    font-size: 17px;
    width: 216px;
    color: rgb(226 212 212);

}

.ParentsF span:nth-child(3) a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.div4 img {
    width: 440px;
    height: 542px;
}

.StanfordElementaryN {
    font-size: 42px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    height: 200px;
    align-items: center;
}

.bottomcon {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
}

.bottombox {
    background-color: rgb(228, 249, 255);
    border: 1px solid black;
    height: 456px;
    width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottombox div:nth-child(2) {
    font-size: 85px;
    font-weight: bolder;
}

.bottombox div:nth-child(3) {
    font-size: 17px;
    width: 90px;
    text-align: center;
}

.boximg img {
    width: 450px;
    height: 451px;
    bottom: -2px;
    position: relative;
    object-fit: cover;
    object-position: 50% 50%;
}

div sup {
    font-size: 30px
}

aside {
    position: fixed;
    bottom: 30px;
    left: 25px;
}

aside ul li {
    list-style: none;
}

aside ul li a img {
    width: 26px;
    margin-bottom: 10px;
}

